{
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": false,
  "exclude": [
    ".*.js$"
  ],
  "minify": true,
  "jsc": {
    "target": "es2022",
    //
    // https://swc.rs/docs/configuration/minification
    //
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "keepClassNames": true,
    "externalHelpers": true,
    "loose": true
  }
}
